@use '@/mixin.scss' as *;
@use '@/styles.scss' as *;

.header{
    justify-content: space-between;
    @include center_block;

    @media(max-width: 1200px){
        display: none;
    }

    nav{
        height: 48px;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: $space-x4;
    }

    a{
        @include label_hover;
    }

    img{
        width: auto;
        height: 80px;
    }

    .phone{
        height: 48px;
        display: flex;
        align-self: flex-end;
        align-items: center;
    }
}

