@use '@/mixin.scss' as *;
@use '@/styles.scss' as *;

.links{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: $space-x2;
    width: 252px;

    a{
        width: fit-content;
    }

    h6{
        @include title_small;
    }
}