@use '@/styles.scss' as *;

.main{
    position: relative;
    background-color: $surface-bg-neutral;
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: 100%;
    // min-height: 100vh;
}