@use '@/styles.scss' as *;

.title{
    display: flex;
    width: 222px;
    align-items: center;
    gap: $space-x2;

    @media (max-width: 1200px) {
        gap: 12px;
        width: 186px;
    }

    .container{
        position: relative;

        img{
            width: 123px;
            height: 52px;
        }
    }

    h3{
        font-weight: 600;
        font-family: var(--font-montserrat-alt);
        font-size: 24px;

        @media (max-width: 1200px) {
            font-size: 20px;
        }
    }
}