@use '@/mixin.scss' as *;
@use '@/styles.scss' as *;

.info{
    @include center_block;

    &{
        // max-height: 800px !important;
        flex-direction: column;
        gap: $space-x8;    
        margin-top: 230px;
        // letter-spacing: 0%;
    }

    @media(max-width: 1200px){
        margin-top: auto;
        padding-bottom: $space-x4;
    }

    @media(max-width: 800px){
        margin-top: auto;
        padding-bottom: $space-x4;
        gap: $space-x6;
    }


    @media(max-width: 391px){   
        margin-top: 250px;
    }

    &_top{
        display: flex;
        flex-direction: column;
        gap: $space-x3;

        &_title{
            display: flex;
            flex-direction: column;
            gap: $space-x1;
            // letter-spacing: 0% !important;
            // font-stretch: 0% !important; 

            p{
                display: flex;
                width: fit-content;
                background-color: $surface-cards-neutral-default;
                padding: $space-x1 $space-x2;
                border-radius: 18px;

                @media(max-width: 800px){
                    display: none;
                }
            }

            h1{
                line-height: 120%;
                font-weight: 600;
                font-size: 68px;

                @media(max-width: 1200px){
                    line-height: 130%;
                    font-weight: 600;
                    font-size: 36px;
                }

                @media(max-width: 390px){
                    max-width: 304px;
                }
            }

            h1.second{
                color: $text-secondary;
            }
        }

        .description{
            width: 626px;

            @media(max-width: 800px){
                display: none;
            }
        }
    }

    &_bottom{
        
        a{
            @include red_button;
            
            &{
                padding: $space-x2;
                width: 320px;
                height: 60px;
            }

            @media(max-width: 420px){
                width: 100%;
            }

            img{
                width: 24px;
                height: 24px;
            }
        }
    }
}