
$space-x05: 4px;
$space-x1: 8px;
$space-x2: 16px;
$space-x3: 24px;
$space-x4: 32px;
$space-x6: 48px;
$space-x8: 64px;
$borderRadius-x2: 16px;
$borderRadius-x3: 24px;
$borderRadius-x4: 32px;
$borderRadius-x6: 48px;
$border-secondary: #1D202540;
$border-primary: #1D202575;
$surface-buttons-neutral-primary-default:#FFFFFF;
$surface-buttons-neutral-primary-hover: #FFFFFF99;
$surface-buttons-neutral-primary-active:#FFFFFF61;
$surface-cards-neutral-default:#ffffff10;
$surface-buttons-yellow-primary: #FFCF3A; 
$surface-buttons-yellow-hover: #E6BA34;
$surface-buttons-yellow-active: #CCA62E;
$surface-buttons-red-primary: #DC463E;
$surface-buttons-red-hover: #DC463EA6;
$surface-buttons-red-active: #DC463E59;
$surface-icon-green-disabled: #11C44C33; 
$surface-cards-green-default: #11C44C33;
$surface-bg-neutral: #1D2025;
$surface-bg-yellow: #FFCF3A;
$text-primary: #FFFFFFDE;
$text-primary-on-color: #FFFFFF;
$text-secondary: #FFFFFF99;
$text-primary-inverse: #FFFFFFDE;
$surface-cards-blue-default: #0163F533;
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 390px;